.card-container {
  max-width: 150rem;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-gap: 3rem;
  background: white;
  justify-content: center;
  align-items: center;
}

.picture {
  position: relative;
  background: red;
  width: 200px;
  height: 300px;
  justify-content: center;
}

.picture-img {
  /*  -o-object-fit: cover;*/
  object-fit: contain;
  height: 100%;
  width: 100%;
}
